{% extends 'rango/base.html' %}
{% load static %}

{% block block_title %}
    change password
{% endblock %}
{% block content %}
<body>
<form method="post" action="{% url 'forget_password' %}">
    {% csrf_token %}
    <div class="container">
        <div class="form-group">
            <label for="user_password">Password</label>
            <input name="password" type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="re_password">Password</label>
            <input name="re_password" type="password" class="form-control" id="re_password" placeholder="Password">
        </div>
    <button type="submit" class="btn btn-default">Change password</button>
    </div>
</form>

</body>
{% endblock %}