{% extends 'rango/base.html' %}
{% load static %}

{% block block_title %}
    {{ title }}
{% endblock %}

{% block ext_js %}
    <script type="text/javascript" src="{% static '/bootstrap/register.js' %}"></script>
{% endblock %}

{% block content %}
<body>
<form id="user_form" method="post" action="{% url 'bootstrap_register' %}">
    {% csrf_token %}
    <div class="container">
        <div class="form-group">
            <label for="user_name">Name</label>
            <input name="username" type="text" class="form-control" id="user_name" placeholder="Name input">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input name="email" type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input name="password" type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="re_password">Password</label>
            <input name="re_password" type="password" class="form-control" id="re_password" placeholder="Password">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Check me out
            </label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>

</body>
{% endblock %}