{% extends 'rango/base.html' %}
{% load static %}

{% block block_title %}
    register_3
{% endblock %}

{% block ext_js %}

{% endblock %}

{% block body_block %}

<form id="user_form" method="post" action="{% url 'register3' %}">
    {% csrf_token %}
    <div class="container">
        <div class="form-group">
            <label for="user_name">Name</label>
<!--            <input name="username" type="text" class="form-control" id="user_name" placeholder="Name input">-->
            {{ user_form.username }}
        </div>
        <div class="form-group">
            <label for="user_mail">Email address</label>
<!--            <input name="user_name" type="email" class="form-control" id="email" placeholder="Email">-->
            {{ user_form.email }}
        </div>
        <div class="form-group">
            <label for="user_password">Password</label>
<!--            <input name="password" type="password" class="form-control" id="password" placeholder="Password">-->
            {{ user_form.password }}
        </div>
        <div class="form-group">
            <label for="re_password">Password</label>
            <input name="re_password" type="password" class="form-control" id="re_password" placeholder="Password">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Check me out
            </label>
        </div>
        {% if messages %}

            {% for message in messages %}
<!--        <div class="alert alert-warning alert-dismissible" role="alert">-->
<!--            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
<!--            <strong>Warning!</strong> {{ message }}-->
<!--            </div>-->
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}

        {% endif %}
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>

<hr>
		<div id="app">
			<h3>The number is ${count}</h3>
			<button v-on:click="count++">+</button>
			<button v-on:click="sub">-</button>
		</div>
        <script src="../../static/js/vue.js"></script>
		<script>
			const app = new Vue({
				el:'#app',
				data:{
					count: 0
				},
				methods:{
					add: function(){
						this.count++
					},
					sub: function(){
						this.count--
					}
				},
				delimiters: ['${', '}'],

			})
		</script>



{% endblock %}